
.container {
    display: flex;
    flex-direction: row;
}


.column1 {
    background-color: blue;
    height: 15%;
    width: 5%;
}

.column2 {
   background-color: crimson;
   width:20%;
   height:8%;
}

